<section class="login py-5 bg-light">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-5">
                <img src="./assets/img/ICON.svg" class="img-fluid" alt="" width="500" height="500">
            </div>
            <div class="col-lg-7 text-center py-5">
                <img src="./assets/img/loginadmin.svg" class="img-fluid" alt="" width="500" height="500">

                <div class="offset-1 col-lg-10">
                    <!--CREACION DEL FORMULARIO Y LLAMADO AL TYPESCRIPT-->
                    <div class="login">
                        <form class="custom-form" method="post">

                             <!--CONTENEDORES DE ESTILO PARA LOS INPUTS-->
                        <div class="input-group Input-group-lg mb-3 log">
                            <span class="input-group-text ">
                                <!--LLAMADO A LOS ICONOS Y A SUS VALIDADORES-->
                                <i class="fa-solid fa-user"></i>
                            </span>
                                <input class="form-control" type="text" [(ngModel)]="username" name="username" placeholder="username" required="required"/>
                        </div>

                        <div class="input-group Input-group-lg mb-2 log">
                            <span class="input-group-text">
                                <!--LLAMADO A LOS ICONOS Y A SUS VALIDADORES-->
                                <i class="fa-solid fa-lock"></i>
                            </span>
                             <input class="form-control" type="password" [(ngModel)]="password" name="password" placeholder="Password" required="required"/>
                        </div>
                        
                        <div class="d-grid gap-2 log">
                            <button class="btn btn-succes btn-lg accessbtn" type="submit" (click)="login()">Log in</button>
                        </div>
                          
                        </form>
                      </div>
                </div>

            </div>
        </div>
    </div>
</section>