<!--CREACION DE LA BARRA DE NAVEGACION-->
<div class="container-fluid">

    <nav class="navbar fixed-top navbar-expand-lg navbar-light shadow-sm main" style="background-color: #CFC6AB;">
      <!--CONTENADOR GENERAL-->
        <div class="container-fluid">
          <!--LOGO-->
          <a class="navbar-brand">
            <img src="../assets/img/logo-menubar.svg" alt="" width="250" height="65">
          </a> <!--FIN LOGO-->

          <!--CONTENEDOR LOGIN-->
          <div class="navbar-nav ms-auto">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 textoElementos">
              <li class="nav-item">
                <a class="nav-link" type="button" (click)="onClick()">
                  <i class="fa-solid fa-xmark"></i>&nbsp;
                  Exit
                </a>
              </li>
            </ul>
          </div> <!--FIN LOGIN-->       

        </div> <!--FIN CONTENEDOR GENERAL-->
      </nav>
      <br>    
      <br>    
      <br>   
      <br>     
   
  </div>
  
  